<!DOCTYPE html>
<html>
<head>
  <title>New Message</title>
</head>
<body>

<h1>Add New Message</h1>

<form method="POST" action="/new">
  <input type="text" name="messageUser" placeholder="Your Name" required>
  <br>
  <textarea name="messageText" placeholder="Your Message" required></textarea>
  <br>
  <button type="submit">Submit</button>
</form>

<a href="/">Back</a>

</body>
</html>